/*
COLOR PALETTE 
#0C0A3E
#7B1E7A
#B33F62
#F9564F
#F3C677

or

#40F99B
#61707D
#9D69A3
#F5FBEF
#E85D75

*/

/* Applies a border to all elements */
* {
  /* border: 1px solid black; */
}

/* -------- Global styles -------- */
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  color: #343434;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  line-height: 1.5;
}

img {
  width: 300px;
  float: left;
  margin: 10px;
}

a {
  color: #40f99b;
}
a:hover {
  text-decoration: none;
}
h1 {
  font-family: Signature;
  font-size: 100px;
  line-height: 1;
}
h2 {
  font-family: "Caveat", cursive;
  font-size: 45px;
  font-weight: 400;
}

p {
  line-height: 1.5;
}

.content-wrap {
  width: 1000px;
  margin: 0 auto;
  padding: 60px 0;
}

@font-face {
  font-family: "Signature";
  src: url("../fonts/KaushanScript-Regular.otf");
}

/* -------- Profile --------- */

header {
  background: #0c0a3e;
  color: #40f99b;
}
/* li {
  display: inline;
} */

/* -------- Projects --------- */

.projects {
  color: #f5fbef;
  background: #61707d;
}
.project a {
  background: #0c0a3e;
}
.projects .btn {
  color: #f5fbef;
  background: #0c0a3e;
  text-decoration: none;
  padding: 8px;
  border-radius: 4px;
  display: inline-block;
}
.projects .btn:hover {
  background: rgba(12, 10, 62, 50%);
}
.project-item {
  overflow: hidden;
  border-bottom: 1px dashed #f5fbef;
  padding: 25px 0;
}
.project-item img {
  float: left;
  margin-right: 40px;
}
.project-item h3 {
  margin-top: 0;
}

/* -------- Work --------- */

.work {
  background: #9d69a3;
}

/* -------- Education --------- */

.education {
  background: #f5fbef;
}

/* -------- Contact Info --------- */

footer {
  background: #e85d75;
  text-align: center;
}
.contact-list {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: center;
}
.contact-list a {
  padding: 15px;
  display: inline-block;
}
